@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
  body {
    font-family: "Poppins", sans-serif;
    // background-color: #e5e5e5;
    // height: 300vh;
  }
}

.skeleton {
  background-color: #eee;
  background-image: linear-gradient(
    110deg,
    #ececec 8%,
    #f5f5f5 18%,
    #ececec 33%
  );
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
body {
  height: 100vh;
}
.group-btn {
  transition: 0.5s ease-in;
}
.group-btn:hover {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.zoom-enter .content {
  opacity: 0;
  transform: scale(0.9);
}
.zoom-enter-active .content {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.zoom-exit .content {
  opacity: 1;
}
.zoom-exit-active .content {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
// fade
.fade-enter .tooltip {
  opacity: 0;
}
.fade-enter-active .tooltip {
  opacity: 1;
}
.fade-exit .tooltip {
  opacity: 1;
}
.fade-exit-active .tooltip {
  opacity: 0;
}
